<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>EC's Wiki</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css"/>
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet"/>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
</head>
<body>
	<div class="container">
		<div th:replace="fragments/navbar :: meniu">  </div>
	    
	    <div class="w3-col m12">
	    	<div class="w3-container w3-card w3-white w3-round w3-margin">
	    		<div class="row" style="padding: 2%;">
					<div class="col-md-12">
						<form method="post" enctype="multipart/form-data" th:action="@{/savePost}">
							<div class="row">
								<div class="col-md-4">
									<input class="form-control" type="text" id="titlu" name="titlu" placeholder="Title"/>
								</div>
								<div class="col-md-4">
									<select class="form-control" id="idCategorie" name="idCategorie" onchange="filtreazaSubCategorii()">
									    <option th:each="category : ${categorii}" th:value="${category.id}" th:text="${category.denumire}" ></option>
								    </select>
								</div>
								<div class="col-md-4">
									<select class="form-control" id="subCategorii" name="subCategorii"  multiple="multiple"> </select>
								</div> <br/><br/>
							</div>
							<div class="row">
								<div class="col-md-12">
									<textarea id="descriere" name="descriere"></textarea>
								</div>
							</div>
						  	<div class="row">
						  		<div class="col-md-12">
						  			<input type="file" name="files" multiple="multiple"/>
						  		</div>
						  	</div> <br/>
						  	<div class="row">
						  		<div class="col-md-12">
								  	<a th:href="@{home}" class="btn btn-danger"> <i class="fa fa-arrow-circle-o-left"></i> Cancel </a>
								  	<button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Save </button>
							  	</div>
							 </div>
						</form>
					</div>
				</div>
	    	</div>
	    </div>
 	</div>
	 
<script th:inline="javascript">
/*<![CDATA[*/
	
    function filtreazaSubCategorii() {
   		var subCategorii = /*[[${subCategorii}]]*/ 'default';
   		var subCategoriiDropdown = $("[name='subCategorii']");
   		var selectedCategory = $("[name='idCategorie']").val();
   		subCategoriiDropdown.empty();
   		for(var i = 0 ; i < subCategorii.length; i++) {
   			if(subCategorii[i].category.id == selectedCategory) {
   				var option = $('<option></option').attr('value', subCategorii[i].id).text(subCategorii[i].denumire);
   				subCategoriiDropdown.append(option);
   			}
   		}
    }
    
    $(document).ready(function() {
    	filtreazaSubCategorii();
    	$('#descriere').summernote( {
    		placeholder: 'Descriere',
    		height: 350
    	});
    });
    
/*]]>*/
</script>	 
</body>
</html>

